:root {
  --primary: #406f3c;
  --delete: #d30000;
  --headerText: #ffffff;
  --text: #ffffff;
  --modalcontainer: rgba(71, 71, 71, 0.9);
  --modalbackgroundcolor: #ffffff;
  --boxshadow: #000000;
  --progressbar: #a3a3a3;
}

.App {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

.App-header {
  position: relative;
  z-index: 10;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--headerText);
  padding: 20px;
  box-shadow: 0px 2px 5px var(--boxshadow);
}

.Header-title {
  margin: 20px 0 0 10px;
  font-size: 30px;
}

.Quote-title {
  font-style: italic;
  font-size: 23px;
  margin: 20px 0 0 0;
  color: var(--headerText);
}

.Quote-name {
  font-style: italic;
  font-size: 20px;
  margin: 10px 0 20px 0;
  color: var(--headerText);
}


.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.Card-title {
  margin: 10px;
}

.Icon {
  font-size: 40px;
}

.Card-content {
  font-size: 18px;
}

.Progress-bar {
  position: relative;
  margin: 10px auto;
  width: 150px;
  height: 10px;
  background-color: var(--progressbar);
  border-radius: 0px;
}

.Add-challenge-container {
  margin-top: 50px;
  z-index: 20;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 960px;
  bottom: 0;
}

.Plus-button {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  font-size: 30px;
  padding: 0px;
  border: 0px;
  border-radius: 25px;
  outline: none;
  color: var(--text);
  background-color: var(--primary);
  box-shadow: 0 2px 5px var(--boxshadow);
}

.Add-challenge {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  min-height: 100px;
  background-color: var(--text);
  box-shadow: 0px 0px 5px var(--boxshadow);
}

.Challenge-input {
  width: 100px;
  padding: 8px;
  font-size: 16px;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.Modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--modalcontainer);
  margin: auto;
  top: 0;
  left: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 30%;
  max-width: 300px;
  max-height: 250px;
  background-color: var(--modalbackgroundcolor);
  border-radius: 20px;
  padding: 20px 0;
}

.Modal-title {
  font-size: 20px;
}

.Delete-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* margin: 15px; */
  width: 120px;
  height: 80px;
  font-size: 16px;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  outline: none;
  color: var(--text);
  background-color: var(--delete);
  box-shadow: 0 1px 3px var(--boxshadow);
}

.Log-button, .Save-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--text);
  background-color: var(--primary);
  width: 120px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px var(--boxshadow);
  font-size: 16px;
}